{% extends 'layouts/form.html' %}
{% block head %}
{% block title %}Register
{% endblock %}
{% endblock %}
{% block content %}
<div class="row">
  <form method = "post" autocomplete="off">
      {{ form.hidden_tag() }}

          <div class="col-sm-6" id = "col1">
            <fieldset>
                {{ form.name(id = 'name')}}
              <label for="name">Name</label>
              <div class="after"></div>
            </fieldset>
              <fieldset>
                {{ form.age(id = 'age')}}
              <label for="name">Age</label>
              <div class="after"></div>
            </fieldset>
              <fieldset>
                  <p class="form-labels">Sex: </p>
                {{ form.sex(id = 'sex')}}
              <div class="after"></div>
            </fieldset>
            <fieldset>
              {{ form.income(id = 'income')}}
              <label for="last">Income</label>
              <div class="after"></div>
            </fieldset>
            <fieldset>
              {{ form.rent(id = 'rent')}}
              <label for="rent">Rent</label>
              <div class="after"></div>
            </fieldset>
              <fieldset>
              {{ form.goal(id = 'goal')}}
              <label for="goal">Goal</label>
              <div class="after"></div>
            </fieldset>
              <fieldset>
              {{ form.country_from(id = 'country_from')}}
              <div class="after"></div>
            </fieldset>
                <fieldset>
              {{ form.country_to(id = 'country_to')}}
              <div class="after"></div>
            </fieldset>
              <fieldset>
              {{ form.credit_amount(id = 'credit_amount')}}
                    <label for="credit_amount">Credit Amount Owed</label>
              <div class="after"></div>
            </fieldset>
                  <fieldset>
              {{ form.duration(id = 'duration')}}
                      <label for="duration">How long have you owed debt?</label>
              <div class="after"></div>
            </fieldset>

          </div>
          <div class="col-sm-6" id = "col2">
            <fieldset>
                <p class="form-labels">Check if you have a job: </p>
                {{ form.job(id = 'job')}}
            </fieldset>
            <fieldset>
                <p class="form-labels">Check if you own housing: </p>
              {{ form.housing_own(id = 'housing_own')}}
            </fieldset>
            <fieldset>
                <p class="form-labels">Check if you rent housing: </p>
              {{ form.housing_rent(id = 'housing_rent')}}
            </fieldset>
              <fieldset>
                  <p class="form-labels">Check if you have moderate savings: </p>
              {{ form.savings_moderate(id = 'savings_moderate')}}
            </fieldset>
              <fieldset>
                  <p class="form-labels">Check if you are somewhat rich: </p>
              {{ form.savings_quite_rich(id = 'savings_quite_rich')}}
            </fieldset>
              <fieldset>
                  <p class="form-labels">Check if you are rich: </p>
              {{ form.savings_rich(id = 'savings_rich')}}
            </fieldset>
                <fieldset>
                  <p class="form-labels">Check if you have some money in a checking account: </p>
              {{ form.check_moderate(id = 'check_moderate')}}
            </fieldset>
                  <fieldset>
                  <p class="form-labels">Check if you have a lot of money in a checking account: </p>
              {{ form.check_rich(id = 'check_rich')}}
            </fieldset>
            <fieldset>
              <button>Submit</button>
            </fieldset>

          </div>

  </form>
    </div>
<style>
body{
    background: black;
}
    .icon{
  font-family:fontawesome;
  font-weight:bold;
  font-size:30px;

}
.goal,.completed{
  font-family: 'Roboto','Myriad Set Pro', 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
  fill:white;
  text-anchor:middle;
}
.goal{
  font-size: 30px;


}
.completed{
  font-size: 95px;
}
</style>
{% endblock %}
